/*body {*/
/*    font-family: "Candal", "Asap regular", "Montserrat SemiBold", serif, sans-serif;*/
/*}*/

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

#myCarousel > div > div > div > div > h1 {
    font-family: Raleway, serif;
    color: black;
    display: initial;
}

#myCarousel > div > div > div > div h1 {
    background-color: rgba(255, 255, 255, 0.4);
}

nav.navbar {
    background: #F8F1F1;
    font-size: x-large;
}

a {
    color: #DB6400;
}

a:hover {
    color: #FFA62B;
}

a.nav-link {
    font-family: Raleway, bold, sans-serif;
}

p {
    font-family: Raleway, sans-serif;
}

h2 {
    font-family: Candal, sans-serif;
}
div.custom-icon-metre {
    background: url(../images/logo-metre.jpg) no-repeat;
    height: 300px;
    width: 300px;
}
div.custom-icon-plan {
    background: url(../images/logo-plan.jpg) no-repeat;
    height: 300px;
    width: 300px;
}
div.custom-icon-plomb {
    background: url(../images/logo-plomb.jpg) no-repeat;
    height: 300px;
    width: 300px;
}
div.custom-icon-represent {
    background: url(../images/logo-represent.jpg) no-repeat;
    height: 300px;
    width: 300px;
}
span.custom {
    color: #FFA62B;
}
p.lead {
    text-indent:50px;
}
div.custom-tel {
    display: inline-block;
    background: url(../images/icons/phone.svg) no-repeat;
    width: 30px;
    height: 17px;
    background-position-y: 0;
    background-size: 60%;
}
div.custom-mail {
    display: inline-block;
    background: url(../images/icons/mail.svg) no-repeat;
    width: 30px;
    height: 17px;
    background-position-y: 0;
    background-size: 60%;
}
div.custom-home {
    display: inline-block;
    background: url(../images/icons/home.svg) no-repeat;
    width: 30px;
    height: 17px;
    background-position-y: 0;
    background-size: 60%;
}
h4.font-italic {
    display: none;
}

element.style {
}
button.wpcf7-form-control.wpcf7-submit.cf7md-submit-btn.mdc-button.mdc-button--outlined.cf7md-initialized.mdc-ripple-upgraded {
    color: #DB6400!important;
    border-color: #DB6400!important;
}
button.wpcf7-form-control.wpcf7-submit.cf7md-submit-btn.mdc-button.mdc-button--outlined.cf7md-initialized.mdc-ripple-upgraded:hover,
button.wpcf7-form-control.wpcf7-submit.cf7md-submit-btn.mdc-button.mdc-button--outlined.cf7md-initialized.mdc-ripple-upgraded:active {
    color: white !important;
    background-color: rgba(255, 166, 43, 10) !important;
}

#cf7md-form .mdc-theme--text-primary-on-background, #cf7md-form .mdc-theme--text-primary-on-light, #cf7md-form .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input, #cf7md-form .mdc-select:not(.mdc-select--disabled) .mdc-select__native-control, #cf7md-form .mdc-form-field, #cf7md-form .cf7md-file--value, #cf7md-form .cf7md-card-title, #cf7md-form .mdc-list a.mdc-list-item, #cf7md-form input, #cf7md-form textarea, #cf7md-form select, #cf7md-form .wpcf7-list-item label, #cf7md-form .cf7md-switch-label, #cf7md-form .cf7md-checkbox-label, #cf7md-form .cf7md-radio-label, #cf7md-form .cf7md-accept-label, #cf7md-form .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label, #cf7md-form .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input, #cf7md-form .mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
 color: #DB6400!important;
}
